@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.Ecommerce-Website-Contact-Us-Section {
    background-color: #f5f7fa;
    background-size: cover;
}

.heading {
    color: #183b56;
    font-size: 30px;
    font-family: "Roboto";
    font-weight: bold;
    text-align: center;
}

.button {
    border-style: solid;
    border-color: #ff9f00;
    border-width: 2px;
    color: #ff9f00;
    padding: 2px;
    height: 40px;
    width: 160px;
    font-size: 17px;
}